    <style>
        .ltn__contact-address-item-3 {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid var(--border-color-11);
    padding: 50px 30px 25px;
    height: 376px;
}
.mapContainer{
    width: 100%;
      height: 600px;
      border: 1px solid #ccc;
      margin-bottom: 50px;
    }
    </style>
    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image-header "  data-bg="assets/images/bg/14.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner">
                        <h1 class="page-title">Contact Us</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="index.html"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                                <li>Contact</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- CONTACT ADDRESS AREA START -->
    <div class="ltn__contact-address-area mb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
                        <div class="ltn__contact-address-icon">
                            <img src="assets/images/icons/10.png" alt="Icon Image">
                        </div>
                        <h3>Email Address</h3>
                        <p>info@elsalampapermill.com</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
                        <div class="ltn__contact-address-icon">
                            <img src="assets/images/icons/11.png" alt="Icon Image">
                        </div>
                        <h3>Phone Number</h3>
                        <p>+203 – 3612794 <br> +203 – 3605801 <br> +203–3622138 <br> +201 – 001616166</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
                        <div class="ltn__contact-address-icon">
                            <img src="assets/images/icons/12.png" alt="Icon Image">
                        </div>
                        <h3>Office Address</h3>
                        <p>EL-Kabary Road – Industrial Zone <br>
                            Alexandria, Egypt</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTACT ADDRESS AREA END -->
    
    <!-- CONTACT MESSAGE AREA START -->
    <div style="margin-bottom: 50px;" class="ltn__contact-message-area mb-120 mb--100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__form-box contact-form-box box-shadow white-bg">
                        <h4 class="title-2">Get A Quote</h4>
                        <form id="contact-form" action="mail.php" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-item input-item-name ltn__custom-icon">
                                        <input type="text" name="name" placeholder="Enter your name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-item input-item-email ltn__custom-icon">
                                        <input type="email" name="email" placeholder="Enter email address">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-item">
                                        <select class="nice-select">
                                            <option>Select Service Type</option>
                                            <option>Property Management </option>
                                            <option>Mortgage Service </option>
                                            <option>Consulting Service</option>
                                            <option>Home Buying</option>
                                            <option>Home Selling</option>
                                            <option>Escrow Services</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-item input-item-phone ltn__custom-icon">
                                        <input type="text" name="phone" placeholder="Enter phone number">
                                    </div>
                                </div>
                            </div>
                            <div class="input-item input-item-textarea ltn__custom-icon">
                                <textarea name="message" placeholder="Enter message"></textarea>
                            </div>
                            <p><label class="input-info-save mb-0"><input type="checkbox" name="agree"> Save my name, email, and website in this browser for the next time I comment.</label></p>
                            <div class="btn-wrapper mt-0">
                                <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">get a free service</button>
                            </div>
                            <p class="form-messege mb-0 mt-20"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTACT MESSAGE AREA END -->
    <!-- GOOGLE MAP AREA START -->
     <div class="mapContainer">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3413.6897466633636!2d29.9079904!3d31.1738834!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f5c3b6506c969f%3A0x954d997c1961f34b!2zRWwtU2FsYW0gUGFwZXJNaWxs2IwgRWwtS2FiYXJ5IFJvYWQg4oCTIEluZHVzdHJpYWwgWm9uZSBBbGV4YW5kcmlhIOKAkyBFZ3lwdNiMINiv2KfYrtmEINin2YTYtNix2YPYp9iq2Iwg2LrZiti3INin2YTYudmG2Kgg2LTYsdmC2Iwg2YLYs9mFINmD2LHZhdmI2LLYjCDYp9mE2KXYs9mD2YbYr9ix2YrYqSA1MzQwMDIw!5e0!3m2!1sar!2seg!4v1685480065759!5m2!1sar!2seg" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div> 
    <!-- GOOGLE MAP AREA END -->