<style>
    .btn-secondary:hover {
        background-color: white !important;
        color: black !important;
    }

    .btn-secondary:focus {
        background-color: white !important;
        color: black !important;
        border: none;
    }

    .dropdown {
        margin-bottom: 35px;
        border: 1px lightgray;
    }

    .dropdown-button {
        background-color: white;
        color: black;
    }

    .dropdown-menu {
        max-height: 200px;
        /* Adjust the max-height as needed */
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
        width: 100%;
    }

    .dropdown-menu::-webkit-scrollbar {
        width: 6px;
    }

    .dropdown-menu::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    .dropdown .btn:after {
        right: 14px;
        top: 25px;
    }
</style>

<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image-header" data-bg="assets/images/bg/14.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner">
                    <h1 class="page-title">Suppliers</h1>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a href="index.html"><span class="ltn__secondary-color"><i
                                            class="fas fa-home"></i></span> Home</a></li>
                            <li>Suppliers</li>
                        </ul>
                        <div class="btn-wrapper mt-0">
                            <!-- <button (click)="getSuppliers()" class="btn theme-btn-1 btn-effect-1 text-uppercase"
                                type="submit">Get Suppliers</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->

<!-- CONTACT MESSAGE AREA START -->
<div style="margin-bottom: 50px;" class="ltn__contact-message-area mb-120 mb--100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__form-box contact-form-box box-shadow white-bg">
                    <h4 class="title-2">Suppliers</h4>
                    <form id="contact-form" [formGroup]="formData" (ngSubmit)="sendFormData()">
                        <div class="row">

                            <div class="col-md-6">
                                <input type="text" name="ltn__name" formControlName="SupplierFN"
                                    placeholder="*First Name (mandatory)">
                                <div *ngIf="formData.get('SupplierFN')?.invalid && formData.get('SupplierFN')?.touched"
                                    class="alert-warning">
                                    <div *ngIf="formData.get('SupplierFN')?.hasError('required')" class="alert-warning">
                                        First Name is required</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="ltn__name" formControlName="SupplierLN"
                                    placeholder="*Last Name (mandatory)">
                                <div *ngIf="formData.get('SupplierLN')?.invalid && formData.get('SupplierLN')?.touched"
                                    class="alert-warning">
                                    <div *ngIf="formData.get('SupplierLN')?.hasError('required')" class="alert-warning">
                                        Last Name is required</div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <input type="text" name="ltn__name" formControlName="SupplierEmail"
                                    placeholder="*Email (mandatory)">
                                <div *ngIf="formData.get('SupplierEmail')?.invalid && formData.get('SupplierEmail')?.touched"
                                    class="alert-warning">
                                    <div *ngIf="formData.get('SupplierEmail')?.hasError('required')"
                                        class="alert-warning">Email is required</div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <input type="text" name="ltn__name" formControlName="SupplierMobileNo"
                                    placeholder="*Mobile No (mandatory)">
                                <div *ngIf="formData.get('SupplierMobileNo')?.invalid && formData.get('SupplierMobileNo')?.touched"
                                    class="alert-warning">
                                    <div *ngIf="formData.get('SupplierMobileNo')?.hasError('required')"
                                        class="alert-warning">Mobile No is required</div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <input type="text" name="ltn__name" formControlName="SupplierAddress"
                                    placeholder="*Address (mandatory)">
                                <div *ngIf="formData.get('SupplierAddress')?.invalid && formData.get('SupplierAddress')?.touched"
                                    class="alert-warning">
                                    <div *ngIf="formData.get('SupplierAddress')?.hasError('required')"
                                        class="alert-warning">Address is required</div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div *ngIf="countriesLoaded" class="input-item">
                                    <div class="dropdown">
                                        <button
                                            class="col-lg-12 col-xl-12 btn btn-transparent dropdown-toggle dropdown-button"
                                            (click)="onDDL()" (keypress)="onSearch($event)" type="button"
                                            id="countryDropdown" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            {{ selectedCountry ? selectedCountry : 'Select a country' }}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="countryDropdown">
                                            <button type="button" class="dropdown-item"
                                                *ngFor="let country of countries"
                                                (click)="onCountrySelect(country.countryCode + '-' + country.countryName)">
                                                {{ country.countryCode }} - {{ country.countryName }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <input type="text" name="ltn__name" formControlName="Material"
                                    placeholder="*Material (mandatory)">
                                <div *ngIf="formData.get('Material')?.invalid && formData.get('Material')?.touched"
                                    class="alert-warning">
                                    <div *ngIf="formData.get('Material')?.hasError('required')" class="alert-warning">
                                        Material is required</div>
                                </div>
                            </div>

                        </div>

                        <div class="input-item input-item-textarea ltn__custom-icon">
                            <textarea name="message" formControlName="SupplierMsg"
                                placeholder="Your message"></textarea>
                        </div>
                        <div class="btn-wrapper mt-0">
                            <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">Apply</button>
                        </div>
                        <p class="form-messege mb-0 mt-20"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CONTACT MESSAGE AREA END -->