<style>
    .hide {
        display: none;
    }

    .ltn__gallery-item-img img {
        height: 450px;
        width: 450px;
    }

    .ltn__gallery-item {
        margin-bottom: 30px;
        width: 450px;
    }

    .ltn__gallery-active .row .ltn__gallery-style-2 .ltn__gallery-info-hide--- {
        text-align-last: center;
    }

    .light-icon {
        -webkit-text-stroke: 2px white;
    }

    .ltn__feature-item-6 {
        border: 1px solid var(--border-color-8);
        margin-bottom: 30px;
        padding: 40px 30px 35px;
        height: 375px;
        background-color: var(--white);
    }
</style>
<div [ngClass]="{'hide': showProduct}">
    <!-- SLIDER AREA START (slider-3) -->
    <div class="ltn__slider-area ltn__slider-3  section-bg-2---">
        <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1">
            <!-- ltn__slide-item -->
            <div class="ltn__slide-item ltn__slide-item-2  ltn__slide-item-3-normal--- ltn__slide-item-3 bg-image bg-overlay-theme-black-60---"
                data-bg="assets/images/slider/71.jpg">
                <div class="ltn__slide-item-inner  text-left">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <h6 class="slide-sub-title ltn__secondary-color animated text-uppercase">
                                            <span><i class="fas fa-square-full"></i></span> Transforming Waste into
                                            Sustainable Solutions
                                        </h6>
                                        <h1 class="slide-title animated ">Transforming Waste <br> into Sustainable
                                            Solutions</h1>
                                        <div class="slide-brief animated">
                                            <p>Join us in creating a greener future with our innovative paper recycling
                                                processes.</p>
                                        </div>
                                        <div class="btn-wrapper animated">
                                            <a href="ordering/" class="theme-btn-1 btn btn-effect-1">Order Requset</a>
                                            <a href="about-us/" class="theme-btn-2 btn btn-effect-2">About Us</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__slide-item -->
            <div class="ltn__slide-item ltn__slide-item-2  ltn__slide-item-3-normal--- ltn__slide-item-3 bg-image bg-overlay-theme-black-60---"
                data-bg="assets/images/slider/74.jpg">
                <div class="ltn__slide-item-inner  text-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <h6 class="slide-sub-title ltn__secondary-color animated text-uppercase">
                                            <span><i class="fas fa-square-full"></i></span> Collaboration for a
                                            Sustainable World
                                        </h6>
                                        <h1 class="slide-title animated ">Collaboration for <br> a Sustainable World
                                        </h1>
                                        <div class="slide-brief animated">
                                            <p>Together, we work as a team to make a positive impact on the environment
                                                through recycling.</p>
                                        </div>
                                        <div class="btn-wrapper animated">
                                            <a href="ordering/" class="theme-btn-1 btn btn-effect-1">Order Requset</a>
                                            <a href="about-us/" class="theme-btn-2 btn btn-effect-2">About Us</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__slide-item -->
            <div class="ltn__slide-item ltn__slide-item-2  ltn__slide-item-3-normal--- ltn__slide-item-3 bg-image bg-overlay-theme-black-60---"
                data-bg="assets/images/slider/74.jpg">
                <div class="ltn__slide-item-inner  text-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <h6 class="slide-sub-title ltn__secondary-color animated text-uppercase">
                                            <span><i class="fas fa-square-full"></i></span> Advanced Technology for
                                            Efficient Recycling
                                        </h6>
                                        <h1 class="slide-title animated ">Advanced Technology <br> for Efficient
                                            Recycling
                                        </h1>
                                        <div class="slide-brief animated">
                                            <p>Discover our state-of-the-art machinery that maximizes recycling
                                                efficiency and minimizes waste.</p>
                                        </div>
                                        <div class="btn-wrapper animated">
                                            <a href="ordering/" class="theme-btn-1 btn btn-effect-1">Order Requset</a>
                                            <a href="about-us/" class="theme-btn-2 btn btn-effect-2">About Us</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__slide-item -->
            <div class="ltn__slide-item ltn__slide-item-2  ltn__slide-item-3-normal--- ltn__slide-item-3 bg-image bg-overlay-theme-black-60---"
                data-bg="assets/images/slider/71.jpg">
                <div class="ltn__slide-item-inner  text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <h6 class="slide-sub-title ltn__secondary-color animated text-uppercase">
                                            <span><i class="fas fa-square-full"></i></span> Quality Recycled Paper
                                            Products for Every Need
                                        </h6>
                                        <h1 class="slide-title animated ">Quality Recycled Paper <br> Products for Every
                                            Need</h1>
                                        <div class="slide-brief animated">
                                            <p>Experience the versatility of our sustainable paper solutions for
                                                packaging, printing, and more.</p>
                                        </div>
                                        <div class="btn-wrapper animated">
                                            <a href="ordering/" class="theme-btn-1 btn btn-effect-1">Order Requset</a>
                                            <a href="about-us/" class="theme-btn-2 btn btn-effect-2">About Us</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
        <!-- SLIDER AREA END -->
    </div>
    <!-- ABOUT US AREA START -->
    <div style="margin-top: 50px;" class="ltn__about-us-area pt-120--- pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-img-wrap about-img-left">
                        <div class="ltn__video-img ltn__video-img-before-none ltn__animation-pulse2">
                            <img src="assets/images/others/about-us-section-1.png" alt="video popup bg image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-info-wrap">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color"><span><i
                                        class="fas fa-square-full"></i></span> Great Experience In Building</h6>
                            <h1 style="font-size: 30px;" class="section-title">From Legacy to Innovation: Redefining
                                Paper
                                Manufacturing for a
                                Sustainable Future!</h1>
                            <p>El Salam Paper Mill, established in 1970 in Alexandria, Egypt, has a rich history as
                                an
                                independent family business. This foundation has been instrumental in our growth and
                                success, allowing us to evolve into a state-of-the-art paper mill renowned for its
                                innovative board solutions.</p>
                        </div>
                        <p>With our strategically located facility, we proudly serve customers worldwide, catering
                            to
                            their
                            diverse needs. Our product portfolio encompasses a wide range of offerings, including
                            traditional Coated and Uncoated board, as well as vibrant grades of high-quality Bristol
                            and
                            Manilla Boards. Guided by the foresight of our management and an unwavering commitment
                            to
                            the
                            development of new paper applications, El Salam remains at the forefront of the board
                            industry.
                            Our dedication to innovation and excellence has solidified our position as a leading
                            company,
                            shaping the industry's landscape</p>
                        <div class="about-author-info d-flex mt-50">
                            <div class="author-name-designation  align-self-center mr-30">
                                <!-- <h4 class="mb-0">Jerry Henson</h4>
                                    <small>/ Shop Director</small> -->
                                <div class="btn-wrapper mt-0">
                                    <a class="btn theme-btn-2 btn-effect-1" href="about-us/">About Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT US AREA END -->

    <!-- FEATURE AREA START ( Feature - 6) -->
    <div class="ltn__feature-area pt-90 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2--- text-center">
                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Our Commitment to
                            Sustainability</h6>
                        <h1 class="section-title">Our Commitment to Sustainability</h1>
                    </div>
                </div>
            </div>
            <div class="row ltn__custom-gutter">
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-6">
                        <div class="ltn__feature-icon">
                            <span><i class="fa-solid fa-solar-panel light-icon"></i></span>
                        </div>
                        <div class="ltn__feature-info">
                            <h4><a>Renewable Energy</a></h4>
                            <p>We harness the power of renewable energy sources to fuel our operations, reducing our
                                reliance on fossil fuels and minimizing our carbon footprint.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-6 active">
                        <div class="ltn__feature-icon">
                            <span><i class="fa fa-recycle light-icon"></i></span>
                        </div>
                        <div class="ltn__feature-info">
                            <h4><a>Waste Reduction and Recycling</a></h4>
                            <p>Through advanced waste management practices and efficient recycling processes, we
                                strive to minimize waste generation and promote a circular economy.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-6">
                        <div class="footprint">
                            <span><img src="assets/images/human-footprints.png"></span>
                        </div>
                        <div class="ltn__feature-info">
                            <h4><a>Carbon Footprint Reduction</a></h4>
                            <p>By implementing energy-efficient measures, optimizing transportation, and offsetting
                                carbon emissions, we actively work towards reducing our carbon footprint.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-6">
                        <div class="ltn__feature-icon">
                            <span><i class="fa fa-users light-icon" aria-hidden="true"></i></span>
                        </div>
                        <div class="ltn__feature-info">
                            <h4><a>Community Engagement</a></h4>
                            <p>We actively engage with the community through educational programs, partnerships, and
                                clean-up initiatives, fostering environmental awareness and sustainability
                                practices.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FEATURE AREA END -->

    <!-- TEAM AREA START (Team - 3) -->
    <div class="ltn__team-area pt-120 pb-90---">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h6 class="section-subtitle ltn__secondary-color"><span><i
                                    class="fas fa-square-full"></i></span>
                            Our Products</h6>
                        <h1 class="section-title">Our Products</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 125px;" class="ltn__team-area pt-120 pb-90---">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="cursor: pointer;">
                    <div class="row justify-content-center">
                        <!-- Loop through the products and display them in groups of three -->
                        <div *ngFor="let product of products" class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                            <div (click)="showProductDetails(product, true)" class="team-item-wrapper">
                                <div class="ltn__team-item ltn__team-item-3 ltn__team-item-3-2">
                                    <div class="team-img">
                                        <img src="{{product.productImg}}" alt="Image">
                                    </div>
                                    <div class="team-info">
                                        <h4><a style="font-size: 18px;">{{ product.productName }}</a></h4>
                                        <!-- <h6 class="ltn__secondary-color">{{ product.productDesc }}</h6> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TEAM AREA END -->

    <!-- ABOUT US AREA START -->
    <div class="ltn__about-us-area pt-115 pb-95">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 align-self-center">
                    <div class="about-us-info-wrap">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color"><span><i
                                        class="fas fa-square-full"></i></span> About Us</h6>
                            <h1 class="section-title">Quality Is Our First Priority</h1>
                        </div>
                        <div class="about-us-info-wrap-inner about-us-info-devide">
                            <p>At El Salam Paper Mill, we prioritize quality and take pride in delivering paper
                                products
                                that surpass industry standards. Our commitment to excellence is evident in the
                                exceptional
                                efficiency and unique characteristics of our final paper product.</p>
                            <div class="list-item-with-icon">
                                <ul>
                                    <li style="margin-bottom: 0px;"><a>Exceptional Coating Quality</a></li>
                                    <li style="margin-bottom: 0px;"><a>High Durability and Strength</a></li>
                                    <li style="margin-bottom: 0px;"><a>Customizable Solutions</a></li>
                                    <li style="margin-bottom: 0px;"><a>Sustainable Practices</a></li>
                                    <li style="margin-bottom: 0px;"><a>Rigorous Quality Control</a></li>
                                    <li style="margin-bottom: 0px;"><a>Outstanding Customer Service </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 align-self-center">
                    <div class="get-a-quote-wrap">
                        <h2>Get A Quote</h2>
                        <form action="#" class="get-a-quote-form">
                            <div class="input-item input-item-name ltn__custom-icon">
                                <input type="text" placeholder="Enter your name">
                            </div>
                            <div class="input-item input-item-email ltn__custom-icon">
                                <input type="email" placeholder="Enter your email">
                            </div>
                            <div class="input-item">
                                <select class="nice-select">
                                    <option>Select Service Type</option>
                                    <option>Preconstruction Services</option>
                                    <option>Construction Management</option>
                                    <option>Virtual Design & Construction</option>
                                </select>
                            </div>
                            <div class="btn-wrapper mt-0">
                                <button type="submit" class="btn theme-btn-1 btn-effect-1 text-uppercase">get an
                                    appointment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT US AREA END -->
    <!-- Gallery area start -->
    <div style=" align-content: center!important;" class="ltn__gallery-area mb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h6 class="section-subtitle ltn__secondary-color"><span><i
                                    class="fas fa-square-full"></i></span>
                            Our Certifications</h6>
                        <h1 class="section-title">Our Certifications</h1>
                    </div>
                </div>
            </div>
            <!--
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ltn__gallery-menu">
                            <div class="ltn__gallery-filter-menu portfolio-filter text-uppercase mb-50">
                                <button data-filter="*" class="active">all</button>
                                <button data-filter=".filter_category_1">White</button>
                                <button data-filter=".filter_category_2">Red</button>
                                <button data-filter=".filter_category_3">Black</button>
                            </div>
                        </div>
                    </div>
                </div>
                -->
            <!-- Portfolio Wrapper Start -->
            <!-- (ltn__gallery-info-hide) Class for 'ltn__gallery-item-info' not showing -->
            <div style="align-content: center!important;"
                class="col-xl-12 ltn__gallery-active ltn__gallery-style-2 ltn__gallery-info-hide---">
                <div class="ltn__gallery-sizer col-6"></div>

                <!-- gallery-item -->
                <div class="ltn__gallery-item filter_category_3 col-xl-6 col-lg-6 col-sm-12 col-12">
                    <div class="ltn__gallery-item-inner">
                        <div class="ltn__gallery-item-img">
                            <a href="assets/images/gallery/ISO_9001.jpg" data-rel="lightcase:myCollection">
                                <img src="assets/images/gallery/ISO_9001.jpg" alt="Image">
                                <span class="ltn__gallery-action-icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </a>
                        </div>
                        <div class="ltn__gallery-item-info">
                            <h4><a href="portfolio-details.html">ISO 9001:2015 Certification</a></h4>
                            <p>Our ISO 9001:2015 certification showcases our commitment to quality management,
                                delivering
                                high-quality paper products that meet customer expectations. We adhere to strict
                                requirements and best practices, ensuring consistent quality, continuous
                                improvement,
                                and
                                customer satisfaction. This certification reflects our dedication to providing
                                superior
                                products and services that meet industry standards.</p>
                        </div>
                    </div>
                </div>
                <!-- gallery-item -->
                <div class="ltn__gallery-item filter_category_3 col-xl-6 col-lg-6 col-sm-12 col-12">
                    <div class="ltn__gallery-item-inner">
                        <div class="ltn__gallery-item-img">
                            <a href="assets/images/gallery/ISO_450001.jpg" data-rel="lightcase:myCollection">
                                <img src="assets/images/gallery/ISO_450001.jpg" alt="Image">
                                <span class="ltn__gallery-action-icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </a>
                        </div>
                        <div class="ltn__gallery-item-info">
                            <h4><a href="portfolio-details.html">ISO 45001:2018 Certification</a></h4>
                            <p>Our ISO 45001:2018 certification highlights our commitment to employee safety and
                                well-being.
                                It emphasizes our focus on occupational health and safety management, ensuring a
                                safe
                                work
                                environment. With ISO 45001:2018, we prioritize risk identification, safety culture
                                promotion, and maintaining high workplace safety standards. This certification
                                assures
                                our
                                stakeholders that we prioritize employee welfare and a safe working environment.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery area end -->
    <!-- CALL TO ACTION START (call-to-action-4) -->
    <div class="ltn__call-to-action-area ltn__call-to-action-4 bg-image pt-115 pb-120 mb-120"
        data-bg="assets/images/bg/6.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="call-to-action-inner call-to-action-inner-4 text-center">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color">// any question you have //</h6>
                            <h1 class="section-title white-color">+203 – 3612794</h1>
                        </div>
                        <div class="btn-wrapper">
                            <a href="tel:+203 – 3612794" class="theme-btn-1 btn btn-effect-1">MAKE A CALL</a>
                            <a href="contact.html" class="btn btn-transparent btn-effect-4 white-color">CONTACT
                                US</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ltn__call-to-4-img-1">
            <img src="assets/images/slider/21.png" alt="#">
        </div>
        <div class="ltn__call-to-4-img-2">
            <img src="assets/images/bg/11.png" alt="#">
        </div>
    </div>
    <!-- CALL TO ACTION END -->
</div>

<div *ngIf="selectedProduct">
    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image " data-bg="assets/images/bg/14.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner">
                        <h1 class="page-title">Product</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="/"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span>
                                        Home</a></li>
                                <li>Product Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- TEAM DETAILS AREA START -->
    <div class="ltn__team-details-area mb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ltn__team-details-member-info text-center mb-40">
                        <div class="team-details-img">
                            <img src="{{selectedProduct.productImg}}" alt="Team Member Image">
                        </div>
                        <h2>{{ selectedProduct.productName }}</h2>
                        <!-- <h6 class="text-uppercase ltn__secondary-color">Property Seller</h6> -->
                        <!-- <div class="ltn__social-media-3">
                            <ul>
                                <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>

                            </ul>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="ltn__team-details-member-info-details">
                        <!-- <p style="font-weight: bold;">{{ selectedProduct.productUsage }}</p> -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="ltn__team-details-member-about">
                                    <ul>
                                        <li><strong>Size:</strong> {{selectedProduct.productSize}}</li>
                                        <!-- <li><strong>Experience:</strong> 10+ Years</li>
                                        <li><strong>Location:</strong> 13/A, NYC</li>
                                        <li><strong>Practice Area:</strong> Property Seller</li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="ltn__team-details-member-about">
                                    <ul>
                                        <li><strong>Used In:</strong>{{ selectedProduct.productUsage }}</li>
                                        <!-- <li><strong>Fax:</strong> +0123-456 789</li>
                                        <li><strong>Phone:</strong> +0123-456 789</li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <p>{{ selectedProduct.productDesc }}</p>
                        <img class="alignleft" src="assets/images/blog/blog-details/1.jpg" alt="Image">
                        <p *ngFor="let productapp of selectedProduct.Applications">{{'● ' +productapp}}</p>

                        <!-- <div style="display: flex; flex-wrap: wrap">
                        <div *ngFor="let productapp of selectedProduct.Applications" class="col-xl-4 col-sm-6 col-12 row ltn__custom-gutter mt-50 mb-20">
                            <div>
                                <div style="border-color:black; border: 2px solid;" class="ltn__feature-item ltn__feature-item-6 text-center">
                                     <div class="ltn__feature-icon">
                                        <span><i class="icon-tire"></i></span>
                                    </div>
                                    <div class="ltn__feature-info">
                                        <h4><a href="service.html">Home Buying</a></h4>
                                        <p>{{productapp}}</p>
                                         <a class="ltn__service-btn" href="service.html">Read More</a> 
                                         <a class="ltn__service-btn" href="service-details.html">Read More <i
                                                class="flaticon-right-arrow"></i></a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                        <!-- <p></p> -->

                        <div class="ltn__form-box contact-form-box box-shadow white-bg mt-50">
                            <h4 class="title-2">Contact for any Inquiry</h4>
                            <form id="contact-form" action="mail.php" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-item input-item-name ltn__custom-icon">
                                            <input type="text" name="name" placeholder="Enter your name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-item input-item-email ltn__custom-icon">
                                            <input type="email" name="email" placeholder="Enter email address">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-item">
                                            <select class="nice-select">
                                                <option>Select Service Type</option>
                                                <option>Property Management </option>
                                                <option>Mortgage Service </option>
                                                <option>Consulting Service</option>
                                                <option>Home Buying</option>
                                                <option>Home Selling</option>
                                                <option>Escrow Services</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-item input-item-phone ltn__custom-icon">
                                            <input type="text" name="phone" placeholder="Enter phone number">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-item input-item-textarea ltn__custom-icon">
                                    <textarea name="message" placeholder="Enter message"></textarea>
                                </div>
                                <p><label class="input-info-save mb-0"><input type="checkbox" name="agree"> Save my
                                        name,
                                        email, and website in this browser for the next time I comment.</label></p>
                                <div class="btn-wrapper mt-0">
                                    <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">get an
                                        free
                                        service</button>
                                </div>
                                <p class="form-messege mb-0 mt-20"></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TEAM DETAILS AREA END -->
</div>